.row
  .six.columns.centered
    %h2.content-center Change your password
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      = f.input :reset_password_token, as: :hidden
      = f.full_error :reset_password_token
      .row
        = f.input :password, label: 'New password', required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), wrapper_html: { class: 'twelve columns reset-mobile-column' }
        = f.input :password_confirmation, label: 'Confirm your new password', required: true, wrapper_html: { class: 'twelve columns reset-mobile-column' }
      .row
        .form-item.twelve.columns.reset-mobile-column
          = f.button :submit, 'Change Password', class: 'button-green wide', data: { 'disable-with': 'Processing...' }
    = render 'devise/shared/links'
