%ul.step-list{ class: css_class }
  %li.step-list-header
    %h3= section.title
    %p= section.objective
  - if section.lessons.any?
    = render partial: 'lessons/lesson_for_enrollees', collection: section.lessons, as: :lesson
    %li.step-list-footer
      %a{ href: 'javascript:void(0)', data: { toggle: 'accordion' } }
        = icon_tag 'chevron-up', size: :m
        = t('lessons.progress', completed: completed_lesson_count_for(section), count: lesson_count_for(section))
