- cache [controller_name, action_name, section] do
  %ul.step-list.compact
    %li.step-list-header
      %h3= section.title
      %p= format_markdown section.objective
    - if section.lessons.any?
      = render partial: 'lessons/lesson_for_visitors', collection: section.lessons, as: :lesson, cached: true
      %li.step-list-footer
        %a{ href: 'javascript:void(0)', data: { toggle: 'accordion' } }
          = icon_tag 'chevron-up', size: :m
          = t('lessons.count', count: lesson_count_for(section))
