- cache [controller_name, action_name, section, 'admin'] do
  .draggable-list
    .icon-draggable
      = icon_tag :drag, class: 'draggable', data: { tooltip: t('tooltip.reorder', element: 'sections'), tooltip_position: 'left middle' }
    %ul.step-list.compact{ data: { element: 'section', section_id: section.id } }
      %li.step-list-header
        %h3= section.title
      = render partial: 'lessons/lesson_for_admins', collection: section.lessons, as: :lesson, cached: true
      %li.step-list-footer
        %a{ href: 'javascript:void(0)', data: { toggle: 'accordion' } }
          = icon_tag 'chevron-up', size: :m
          = t('lessons.count', count: section.lessons.count)
