%ul.step-list
  %li.step-list-header
    %h3
      = section.title
    %p
      = section.objective
  - if section.lessons.any?
    - section.lessons.each do |lesson|
      %li
        = link_to course_lesson_path(@course, lesson) do
          .icon-holder
            - if lesson.completed?(current_user)
              = icon_tag 'check'
            - else
              .icon
          %h5
            = lesson.title
          %p
            = lesson.notes
    %li.step-list-footer
      %a{ href: 'javascript:void(0)', data: { toggle: 'accordion' } }
        = icon_tag 'chevron-up', size: :m
        = t('lessons.count', count: section.lessons.count)
