.box
  .box-header
    %h3.inline-block Subscription
  .box-content
    - if subscription.active?
      %p.subscription
        %b #{subscription.plan.name}
        active since #{subscription.created_at.to_s(:simple)}
      - unless subscription.scheduled_for_cancellation?
        = render 'subscriptions/cancel'
      - if subscription.scheduled_for_cancellation?
        %p.subscription
          = t('subscriptions.cancellation_scheduled_on', date: subscription.scheduled_for_cancellation_on.to_s(:simple))
        = render 'subscriptions/reactivate'
    - else
      %p.subscription
        = t('subscriptions.canceled_on', date: subscription.canceled_on.to_s(:simple))
