%li
  = link_to course_lesson_path(@course, lesson), class: 'topic-wrapper' do
    .icon-holder
      - if lesson.completed?(current_user)
        = icon_tag 'check-circle-full', class: 'completed', data: { tooltip: t('tooltip.completed', element: 'Lesson'), tooltip_position: 'top center' }
      - else
        = icon_tag 'unlock-circle', class: 'unlocked', data: { tooltip: t('tooltip.unlocked', element: 'lesson'), tooltip_position: 'top center' }
    - if lesson.video.present?
      %span.step-duration
        = duration_for(lesson.video.video_duration)
    %h5= lesson.title
