- content_for :page_title, title

- if enrolled_courses.any?
  %h2= t('titles.courses.enrolled')
  .tile-container.flex-grid
    = render partial: 'enrolled_course', collection: enrolled_courses, as: :course

- if accessible_courses.any?
  %h2= t('titles.courses.accessible')
  .tile-container.flex-grid
    = render partial: 'accessible_course', collection: accessible_courses, as: :course

- else
  %h2= t('titles.courses.index')
  .tile-container.flex-grid
    = render partial: 'courses/course', collection: available_courses, as: :course, cached: true
