- cache [cache_key_base, course] do
  .tile.stacked{ class: "tile-#{course.id}", data: { type: :course, id: course.id} }
    .tile-header
      = link_to course_path(course), data: { role: 'course_link' } do
        = icon_tag 'course'
        %h1= course.name
        %small
          = t('lessons.count', count: lesson_count_for(course))
          \/
          = duration_in_hours(content_length_for(course))
    .tile-content
      .tile-meta
        %small Instructed by
        %h3= course.instructor.name
      %figure
        = user_avatar(course.instructor, src: course.instructor.avatar_url(:medium), class: 'avatar-default', alt: course.instructor.name, width: '45px', height: '45px')
    %p.description= course.short_description
