= simple_form_for @course do |f|
  = f.input :name
  .row
    = f.input :status, collection: Course::STATUSES, wrapper_html: { class: 'five columns reset-mobile-column' }, include_blank: false, selected: status_for(@course)
    = f.input :published_at, as: :datetime, wrapper_html: { class: 'seven columns reset-mobile-column' }
  = f.input :short_description, as: :text, input_html: { style: 'min-height: 65px;' }, hint: t('simple_form.hints.courses.short_description')
  = f.input :description
  = f.input :price
  = f.simple_fields_for :video, (f.object.build_video unless f.object.video) do |video|
    = video.input :video_url
  #modules
    = f.simple_fields_for :sections do |ff|
      = render 'sections/form', f: ff
    #module_add
      = link_to_add_association 'Add module', f, :sections, partial: 'sections/form'
  = f.button :button, class: 'button-large button-purple', data: { disable_with: "#{image_tag 'signal.svg', class: 'loader'} #{t('button.disabled.saving')}" }
