- content_for :page_title, @course.name
- content_for :page_description, @course.short_description

.course-header
  %h1
    = @course.name
  %h3 Course progress
- @sections.each do |section|
  %ul.step-list
    %li.step-list-header
      %h3
        = section.title
      %p
        = section.objective
    - if section.lessons.any?
      - section.lessons.each do |lesson|
        %li
          = link_to course_lesson_path(@course, lesson), class: 'topic-wrapper' do
            .icon-holder
              - if lesson.completed?(current_user)
                = icon_tag 'check-circle-full', class: 'completed', data: { tooltip: t('tooltip.completed', element: 'Lesson'), tooltip_position: 'top center' }
              - else
                = icon_tag 'unlock-circle', class: 'unlocked', data: { tooltip: t('tooltip.unlocked', element: 'lesson'), tooltip_position: 'top center' }
            - if lesson.video.present?
              %span.step-duration
                = duration_for(lesson.video.video_duration)
            %h5
              = lesson.title
            %p
              = lesson.notes
    %li.step-list-footer
      %a{ href: 'javascript:void(0)', data: { toggle: 'accordion' } }
        = icon_tag 'chevron-up', size: :m
        = t('lessons.progress', completed: section.lessons.completed.count, count: section.lessons.count)
