!!!
%html
  %head
    %title= [(content_for(:page_title) || title), t('titles.application')].compact.uniq.join(' | ')
    = render 'meta'
    = csrf_meta_tags
    = open_graph_tags
    = stylesheet_link_tag 'application', media: 'all', data_turbolinks_track: true
    = javascript_include_tag 'application', data_turbolinks_track: true
    = javascript_include_tag "#{STRIPE_JS_HOST}/v2/", data_turbolinks_track: true, rel: 'preconnect', async: 'async', defer: 'defer'

  %body{ class: "#{body_css}" }
    = Gon::Base.render_data(namespace: 'dataLayer')
    = render 'flash_messages'
    = render 'navigation'
    = render 'container'
    = render 'footer'
    = render 'google_analytics' if Rails.env.production?
