!!!
%html
  %head
    %title= [(content_for(:page_title) || title), t('titles.application')].compact.uniq.join(' | ')
    = csrf_meta_tags
    = render 'meta'
    = open_graph_tags
    = stylesheet_link_tag 'application', media: 'all', data_turbolinks_track: true
    = javascript_include_tag 'application', data_turbolinks_track: true

  %body{ class: "#{body_css 'static'}" }
    = render 'flash_messages'
    = render 'navigation'
    %section.page-container{ data: { layout_element: 'content' } }
      = render 'header'
      = yield
    = render 'footer'
    = render 'google_analytics' if Rails.env.production?
