.box
  .box-header
    %h3 Edit Profile
  .box-content
    = simple_form_for current_user, url: { controller: 'accounts', action: 'update_account' }, html: { method: :patch } do |f|
      = f.error_notification
      .row
        .two.columns.reset-mobile-column
          .avatar-form
            = user_avatar(current_user, src: current_user.avatar_url(:medium), id: 'preview_img', class: 'avatar-circle bordered', alt: current_user.name, width: '90px', height: '90px')
          = f.hidden_field :avatar, value: current_user.cached_avatar_data
          = f.file_field :avatar, label: false, class: 'file-upload hidden', id: 'previewable'
          %label{ for: 'previewable' }
            %strong= t('button.account.avatar.change')
        .ten.columns.reset-mobile-column
          .row
            = f.input :first_name, required: true, autofocus: true, wrapper_html: { class: 'six columns reset-mobile-column' }
            = f.input :last_name, required: true, wrapper_html: { class: 'six columns reset-mobile-column' }
          - if current_user.is_instructor?
            .row
              = f.input :headline, wrapper_html: { class: 'twelve columns reset-mobile-column' }, hint: t('simple_form.hints.users.headline')
            .row
              = f.input :bio, wrapper_html: { class: 'twelve columns reset-mobile-column' }, hint: t('simple_form.hints.users.bio')
          .row
            .form-button.twelve.columns.reset-mobile-column
              = f.button :button, t('button.account.update'), class: 'button-green pull-right', data: { disable_with: "#{image_tag 'signal.svg', class: 'loader'} #{t('button.disabled.saving')}" }
