.box
  .box-header
    %h5.text-muted Default payment method:
    %p.payment-method
      - if current_user.braintree_payment_method == 'PayPalAccount'
        %b PayPal
        %span.text-muted with email
        %b #{current_user.paypal_email}
      - elsif current_user.braintree_payment_method == 'CreditCard'
        %b #{current_user.card_type} xxxx-#{current_user.card_last4}
        %span.text-muted expiring on #{current_user.card_exp_month}/#{current_user.card_exp_year}
      - else
        Please enter your preferred payment method below.
    %button.button.button-default.button-small.button-box.pull-right{ data: { trigger: 'revealer', revealer_id: 'payment-method' } }
      = t('button.payment_method.add')
    .box-content.revealer{ data: { shelf_id: 'payment-method' } }
      #braintree-payment-method-form{ style: 'padding: 15px 0 5px' }
      = simple_form_for account_payment_method_path, url: [:account, :payment_method], html: { id: 'payment-method-form' } do |f|
        = f.button :button, t('button.payment_method.save'), class: 'button button-green button-small wide', data: { disable_with: "#{image_tag 'signal.svg', class: 'loader'} #{t('button.disabled.processing')}" }
